--extra-index-url https://download.pytorch.org/whl/cpu

Flask
gTTS
gunicorn
matplotlib
numpy
opencv-python-headless
opencv-contrib-python-headless
pandas
Pillow
PyYAML
requests
scipy
seaborn
thop
torch
torchvision
tqdm
Werkzeug
