<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Currency Scanner Accessibility Mode</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
  <!-- Full screen button for starting the scanning logic. Necessary for Audio context initialization -->
  <button id="start-button" class="start-button" aria-label="Tap anywhere on the screen to start currency scanning">
    <span>Tap anywhere to start<br><br>தொடங்க திரையில் எங்கும் தொடவும்</span>
  </button>
  
  <div id="scanner-ui" style="display:none;">
    <video id="camera-feed" autoplay playsinline aria-hidden="true"></video>
    <canvas id="camera-canvas" style="display:none;"></canvas>
    <div class="status-overlay" id="status-text" aria-live="polite">Starting Camera...</div>
  </div>
</body>
</html>